.dashboard-container {
  height: 100vh;
  background-color: var(--bg);
  display: flex;
  flex-direction: row;
}

.sidenav {
  width: 190px;
  background: #0057a4 url('../../../../../assets/img/sidenav-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  transition: width 0.3s ease;
  border-right: none;
  overflow: hidden;
}

#sidenav.collapsed {
  width: 70px !important;
}

.sidenav.collapsed .logo-container span,
.sidenav.collapsed .mat-nav-list span {
  display: none;
}

/* .sidenav.collapsed .mat-icon {
  margin-right: 0;
} */

.logo-container {
  background-color: var(--bg);
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 1rem .5rem;
  font-size: 1.3rem;
  font-weight: bold;
  color: #5619f2;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
}

.brand-logo {
  width: 32px;
  height: 32px;
  border-radius: 10px;
}

/* .sidenav .logo-container span {
  margin-top: 0.3rem;
} */

.sidenav mat-nav-list {
  margin-top: 2.5rem;
  overflow: hidden;
}

mat-nav-list a {
  margin: 15px 0;
  padding: 20px 16px;
  transition: background 0.3s ease;
}
mat-nav-list a span {
  color: #d6e4f0;
  font-weight: 500;
  font-size: .95rem;
}
mat-nav-list a mat-icon {
  background: rgba(255, 255, 255, 0.1);
  width: 30px;
  height: 30px;
  color: #d6e4f0;
  margin-right: .5rem;
  padding: 3px;
  font-size: 1.5rem;
  border-radius: 8px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
}
mat-nav-list a:hover {
  background: rgba(255, 255, 255, 0.1);
  color: #fff;
  transform: scale(1.05);
  cursor: pointer;
}
mat-nav-list a.active-link::after {
  content: '';
  background-color: #f4f6f8;
  position: absolute;
  width: 5px;
  height: inherit;
  right: 0;
  top: 0;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}
mat-nav-list a.active-link {
  background-color: #003d7c;
  color: #fff;
  font-weight: 600;
  border-radius: 0;
}
mat-nav-list a:nth-of-type(5) {
  position: absolute;
  bottom: 0;
}

.sidenav mat-nav-list a div {
  display: flex;
  align-items: center;
}

/* .sidenav mat-nav-list a div span {
  margin-top: 0.3rem;
} */

.toolbar {
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: var(--bg);
  color: var(--text-color);
  display: flex;
  justify-content: space-between;
  padding: 0 16px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
}

.toolbar .toolbar-title {
  font-size: 1.4rem;
  font-weight: 500;
}

.toolbar .spacer {
  flex: 1;
}

.main-content {
  flex: 1;
  transition: margin-left 0.3s ease, width 0.3s ease;
  width: calc(100% - 200px);
}

.main-content.collapsed {
  width: calc(100% - 70px);
}

.content-wrapper {
  padding: 24px;
  background: url('../../../../../assets/img/white-bg.jpg');
  flex-grow: 1;
  overflow-y: auto;
}