.full-width {
    width: 100%;
}

.description ::ng-deep .mat-mdc-text-field-wrapper {
    height: 5rem;
}
  
.timeline-group .date {
    display: flex;
    justify-content: space-between;
    gap: 16px;
}
.timeline-group .assign {
    width: 100%;
}
  
.submit-section {
    text-align: right;
}


/* MOBILE RESPONSIVENESS */
/* MOBILE RESPONSIVENESS */
/* MOBILE RESPONSIVENESS */

@media screen and (max-width: 820px) {
    .overlay {
        padding-top: 0;
    }

    .task-info, .timeline {
        width: 400px;
    }
    .task-info input {
        height: 45px;
    }
    .timeline input {
        width: 365px;
    }

    h2 {
        font-size: 17px;
    }

    h5 {
        font-size: 14px;
    }
}
