.home-container {
    height: 100vh;
    background: linear-gradient(135deg, #cbdde9, #c8e6c9);
}

.homepage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 4rem);
    background: linear-gradient(135deg, #cbdde9, #c8e6c9);
    text-align: center;
    padding: 2rem;

    h1 {
      font-size: 3rem;
      color: #1e88e5;
      margin-bottom: 20px;
    }

    p {
      font-size: 1.25rem;
      color: #2e7d32;
      margin-bottom: 2rem;
    }

    .cta-buttons {
      display: flex;
      gap: 1rem;
      margin-top: 30px;
    }

    button {
      font-weight: bold;
      padding: 0.75rem 2rem;
      margin: 0 10px;
    }
}

/* MEDIA QUERIES */
/* MEDIA QUERIES */
/* MEDIA QUERIES */

@media only screen and (max-width: 608px) {
  .homepage {
    h1 {
      font-size: 2rem;
      margin-bottom: 1rem;
    }

    p {
      font-size: 1rem;
      margin-bottom: 1rem;
    }

    .cta-buttons {
      gap: 0rem;
      margin-top: 1rem;
    }
  }
}


@media only screen and (max-width: 426px) {
  .homepage {
    h1 {
      font-size: 1.7rem;
      margin-bottom: .5rem;
    }

    p {
      font-size: .9rem;
      margin-bottom: .7rem;
    }

    button {
      padding: 0.5rem 1rem;
      margin: 0 5px;
    }
  }
}


@media only screen and (max-width: 372px) {
  .homepage {
    h1 {
      font-size: 1.4rem;
      margin-bottom: .2rem;
    }

    p {
      font-size: .75rem;
        margin-bottom: .2rem;
    }

    button {
      padding: 0.5rem .7rem;
      margin: 0 5px;
      font-size: .7rem;
    }
  }
}
