<div class="home-container">
    <app-navbar></app-navbar>

    <div class="container">
        <section class="homepage">
            <h1>Welcome to My Manager 💼</h1>
            <p>Organize. Prioritize. Get things DONE.</p>

            <div class="cta-buttons">
            <button mat-raised-button color="primary" routerLink="/login">Log In</button>
            <button mat-stroked-button color="accent" routerLink="/register">Sign Up</button>
            </div>
        </section>
    </div>
</div>
